@model WebDatabaseFirst.Models.Prestamo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prestamo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrestamoLibroId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrestamoLibroId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prestamo1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prestamo1.PrestamoLibroId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrestamoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrestamoNavigation.CedulaCliente)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PrestamoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
